.tag {
	display: inline-block;

	box-sizing: border-box;
	margin-right: 5px;
	padding: 5px 10px;

	border-radius: 20px;
}

.small {
	font-size: 12px;
	line-height: 12px;
}

.medium {
	font-size: 14px;
	line-height: 14px;
}

.ghost {
	border: 1px solid var(--gray-light);

	font-weight: 500;
}

.red {
	color: var(--white);
	background: #DE0000;

	font-weight: 600;
}

.gray {
	color: var(--white);

	background: #B3C0D9;

	font-weight: 600;
}

.green {
	color: var(--green);
	background: var(--green-light);

	font-weight: 700;
}

.primary {
	color: var(--primary);
	border: 1px solid var(--primary);
	background: none;
}
