.wrapper {
	display: grid;
	gap: 0 30px;
	grid-template-columns: auto 230px minmax(320px, 1200px) auto;
	grid-template-rows: auto 1fr auto;

	min-height: 100vh;
	grid-template-areas:
		". h h ."
		". s b ."
		"f f f f";
}

.header {
	grid-area: h;

	display: none;
}

.sidebar {
	grid-area: s;
}

.body {
	grid-area: b;
}

.footer {
	grid-area: f;
}

@media (max-width: 765px) {
	.wrapper {
		grid-template-columns: minmax(320px, 1200px);
		grid-template-areas:
			"h"
			"b"
			"f";
	}

	.header {
		display: block;
	}

	.sidebar {
		display: none;
	}
}
